$orange: #FFA81D;
$secondary: #C44D50;
$gray: #4E4442;
$silver: #D8D7DB;
$red: #F53201; //F56953;
$yellow: #E8E748;
$green: #00B039; //43FF65;
$primaryDark: $gray;
$primaryLight: lighten($gray, 20%);
